<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta property="og:title" content="Copper Launch - Leaderboard" />
    <meta property="og:image" content="/images/screenshot.jpg" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="article" />

    <meta name="twitter:title" content="Copper Launch - Dashboard" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="">
    <title>Copper Launch Leaderboard</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/css/app.css" />
    <!-- END: CSS Assets-->
</head>